extends ../layout/main.pug

block vars
    - var pageTitle = 'Home page';

block content
    p This content is from index.pug!
    a(href="/page.html") Page Here
    img(src="/assets/images/foto.jpg", alt="")